/* General Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

  /* header and footer space*/
  margin: 0;
  padding-top: 60px; 
  padding-bottom: 100px; 
  box-sizing: border-box;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Action Links */
.edit, .delete {
  text-decoration: none;
  padding: 6px 12px;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.edit:hover, .delete:hover {
  background-color: #007bff;
  color: white;
}

/* Loading Spinner */
.overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dot-spinner {
  display: inline-block;
  position: relative;
}

.dot-spinner__dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background: #007bff;
  animation: dot-spinner 1.2s infinite ease-in-out both;
}

.dot-spinner__dot:nth-child(1) { animation-delay: -0.36s; }
.dot-spinner__dot:nth-child(2) { animation-delay: -0.24s; }
.dot-spinner__dot:nth-child(3) { animation-delay: -0.12s; }

@keyframes dot-spinner {
  0%, 80%, 100% {
      transform: scale(0);
  }
  40% {
      transform: scale(1);
  }
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
