body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #444;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(102, 136, 40);
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
}

.right-side {
    display: flex;
    gap: 1rem;
}

.btn-signin {
    padding: 10px 15px;
    background-color: #1E88E5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-signin:hover {
    background-color: #1565C0;
}

.terms-conditions-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2, h3 {
    color: #333;
}

p, ul, li {
    color: #555;
    line-height: 1.6;
}

footer {
    background-color: #444;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.footer-left, 
.footer-center, 
.footer-right {
    margin: 1rem;
    flex: 1;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 0.5rem 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media a {
    color: white;
    margin: 0 5px;
}

.social-media a:hover {
    text-decoration: underline;
}

.dest {
    color: white;
}
